.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #80d7f8;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

.button {
  padding: 0 0.5rem 0 0.5rem;
  font-size: large;
  color: #004D69
}

.button a:visited {
  color: #004D69;
}

.profile {
  display: flex;
  align-items: center;
}

.profile button {
  color: #004D69;
  border: none;
  outline: none;
  font-size: large;
  background-color: transparent;
}

.profile button:hover {
  cursor:pointer;
}

.profile-icon {
  display: flex;
  align-items: center;
  width: 2rem;
}

.profile-icon img {
  width: 100%;
  border-radius: 50%;
}
