.background-image {
    display: flex;
    justify-content: center;
}

.background-image img {
    width: 70rem;
}

@media only screen and (max-width: 900px) {
    .background-image img {
        width: 25rem;
    }
}

